In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
import datetime

In [43]:
fut1m_df = pd.read_csv('data/minute_bar_data26022022/data/VN30F1M-20220226.csv')
fut2m_df = pd.read_csv('data/minute_bar_data26022022/data/VN30F2M-20220226.csv')

In [44]:
fut1m_df.head(3)

,SYMBOL,TRADING_DATE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,VOLUME,BUY_VOLUME,SELL_VOLUME
0,VN30F1M,20171106 08:59:59,841000,841000,841000,841000,1,1,0
1,VN30F1M,20171106 09:00:51,841000,841700,840600,840600,253,243,10
2,VN30F1M,20171106 09:01:48,841000,841000,840700,841000,43,35,8

In [45]:
fut1m_df.tail(3)

,SYMBOL,TRADING_DATE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,VOLUME,BUY_VOLUME,SELL_VOLUME
260368,VN30F1M,20220225 14:29:59,1518400,1519000,1518200,1519000,917,439,478
260369,VN30F1M,20220225 14:30:04,1518500,1518500,1518500,1518500,47,47,0
260370,VN30F1M,20220225 14:45:17,1517000,1517000,1517000,1517000,4355,4355,0

In [46]:
fut2m_df.head(3)

,SYMBOL,TRADING_DATE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,VOLUME,BUY_VOLUME,SELL_VOLUME
0,VN30F2M,20171106 09:00:03,844000,844000,844000,844000,4,0,4
1,VN30F2M,20171106 09:04:56,844000,844000,844000,844000,3,3,0
2,VN30F2M,20171106 09:07:49,843300,843300,843200,843200,6,0,6

In [47]:
fut2m_df.tail(3)

,SYMBOL,TRADING_DATE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,VOLUME,BUY_VOLUME,SELL_VOLUME
156617,VN30F2M,20220225 14:27:55,1516500,1516500,1516500,1516500,1,1,0
156618,VN30F2M,20220225 14:29:36,1516800,1516800,1516100,1516100,5,4,1
156619,VN30F2M,20220225 14:45:17,1513900,1513900,1513900,1513900,20,20,0

In [48]:
fut1m_df = fut1m_df.rename(columns={"TRADING_DATE": "timestamp", 
                                    "OPEN_PRICE": "open", "HIGH_PRICE": "high", "LOW_PRICE": "low", "CLOSE_PRICE": "close", 
                                    "VOLUME": "volume", "BUY_VOLUME": "buy_volume", "SELL_VOLUME": "sell_volume"})
fut2m_df = fut2m_df.rename(columns={"TRADING_DATE": "timestamp", 
                                    "OPEN_PRICE": "open", "HIGH_PRICE": "high", "LOW_PRICE": "low", "CLOSE_PRICE": "close", 
                                    "VOLUME": "volume", "BUY_VOLUME": "buy_volume", "SELL_VOLUME": "sell_volume"})

In [49]:
fut1m_df.head(3)

,SYMBOL,timestamp,open,high,low,close,volume,buy_volume,sell_volume
0,VN30F1M,20171106 08:59:59,841000,841000,841000,841000,1,1,0
1,VN30F1M,20171106 09:00:51,841000,841700,840600,840600,253,243,10
2,VN30F1M,20171106 09:01:48,841000,841000,840700,841000,43,35,8

In [50]:
fut1m_df['volumeXprice'] = fut1m_df['volume'] * fut1m_df['close']
fut1m_df['buy_volumeXprice'] = fut1m_df['buy_volume'] * fut1m_df['close']
fut1m_df['sell_volumeXprice'] = fut1m_df['sell_volume'] * fut1m_df['close']

fut2m_df['volumeXprice'] = fut2m_df['volume'] * fut2m_df['close']
fut2m_df['buy_volumeXprice'] = fut2m_df['buy_volume'] * fut2m_df['close']
fut2m_df['sell_volumeXprice'] = fut2m_df['sell_volume'] * fut2m_df['close']

### data process

In [51]:
fut1m_df = fut1m_df.drop(['SYMBOL'], axis=1)
fut1m_df = fut1m_df.set_index('timestamp')
fut1m_df.index = pd.to_datetime(fut1m_df.index)

In [52]:
fut2m_df = fut2m_df.drop(['SYMBOL'], axis=1)
fut2m_df = fut2m_df.set_index('timestamp')
fut2m_df.index = pd.to_datetime(fut2m_df.index)

In [26]:
# fut1m_df['date'] = fut1m_df['TRADING_DATE_'].apply(lambda x: x.date())
# fut1m_df['date'] = fut1m_df['date'].map(lambda x: int(x.year * 1e4 + x.month * 1e2 + x.day))
# fut1m_df['time'] = fut1m_df['TRADING_DATE_'].apply(lambda x: x.time())

# fut2m_df['date'] = fut2m_df['TRADING_DATE_'].apply(lambda x: x.date())
# fut2m_df['date'] = fut2m_df['date'].map(lambda x: int(x.year * 1e4 + x.month * 1e2 + x.day))
# fut2m_df['time'] = fut2m_df['TRADING_DATE_'].apply(lambda x: x.time())
# fut2m_df['hhmm'] = fut2m_df['TRADING_DATE_'].apply(lambda x: x.hour * 100 + x.minute)

In [53]:
print(fut1m_df.shape)
print(fut2m_df.shape)

(260371, 10)
(156620, 10)

In [54]:
fut1m_df = fut1m_df.dropna()
fut2m_df = fut2m_df.dropna()

In [55]:
print(fut1m_df.shape)
print(fut2m_df.shape)

(260371, 10)
(156620, 10)

* resample to 30 minute bar

In [243]:
fut1m_df_ = fut1m_df.resample('30Min', closed='right', label='right').agg(
            {'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 
             'volume': 'sum', 'buy_volume': 'sum', 'sell_volume': 'sum',
             'volumeXprice': 'sum', 'buy_volumeXprice': 'sum', 'sell_volumeXprice': 'sum'})

fut2m_df_ = fut2m_df.resample('30Min', closed='right', label='right').agg(
            {'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 
             'volume': 'sum', 'buy_volume': 'sum', 'sell_volume': 'sum',
             'volumeXprice': 'sum', 'buy_volumeXprice': 'sum', 'sell_volumeXprice': 'sum'})

In [244]:
print(fut1m_df_.shape)
print(fut2m_df_.shape)

(75469, 10)
(75468, 10)

In [245]:
fut1m_df_ = fut1m_df_.dropna()
fut2m_df_ = fut2m_df_.dropna()

In [248]:
fut2m_df_ = fut2m_df_.reindex(fut1m_df_.index)

In [249]:
fut1m_df_['VWAP'] = fut1m_df_['volumeXprice']/ fut1m_df_['volume']
fut1m_df_['buy_VWAP'] = fut1m_df_['buy_volumeXprice']/ fut1m_df_['buy_volume']
fut1m_df_['sell_VWAP'] = fut1m_df_['sell_volumeXprice']/ fut1m_df_['sell_volume']

fut2m_df_['VWAP'] = fut2m_df_['volumeXprice']/ fut2m_df_['volume']
fut2m_df_['buy_VWAP'] = fut2m_df_['buy_volumeXprice']/ fut2m_df_['buy_volume']
fut2m_df_['sell_VWAP'] = fut2m_df_['sell_volumeXprice']/ fut2m_df_['sell_volume']

In [250]:
fut1m_df_ = fut1m_df_.reset_index()
fut2m_df_ = fut2m_df_.reset_index()

In [251]:
fut1m_df_ = fut1m_df_.drop(['volumeXprice', 'buy_volumeXprice', 'sell_volumeXprice'], axis=1)
fut2m_df_ = fut2m_df_.drop(['volumeXprice', 'buy_volumeXprice', 'sell_volumeXprice'], axis=1)

In [252]:
fut1m_df_.head(3)

,timestamp,open,high,low,close,volume,buy_volume,sell_volume,VWAP,buy_VWAP,sell_VWAP
0,2017-11-06 09:00:00,841000.0,841000.0,841000.0,841000.0,1,1,0,841000.000000,841000.000000,NaN
1,2017-11-06 09:30:00,841000.0,842200.0,840600.0,842000.0,2232,1323,909,841696.729391,841591.383220,841850.055006
2,2017-11-06 10:00:00,841700.0,841800.0,840500.0,841200.0,1619,748,871,841390.426189,841418.983957,841365.901263

In [253]:
fut1m_df_['dt'] = fut1m_df_['timestamp'].apply(lambda x: x.date())
fut1m_df_['date'] = fut1m_df_['dt'].map(lambda x: int(x.year * 1e4 + x.month * 1e2 + x.day))
fut1m_df_['time'] = fut1m_df_['timestamp'].apply(lambda x: x.time())
fut1m_df_['hhmm'] = fut1m_df_['time'].apply(lambda x: x.hour * 100 + x.minute)

In [254]:
fut2m_df_['dt'] = fut2m_df_['timestamp'].apply(lambda x: x.date())
fut2m_df_['date'] = fut2m_df_['dt'].map(lambda x: int(x.year * 1e4 + x.month * 1e2 + x.day))
fut2m_df_['time'] = fut2m_df_['timestamp'].apply(lambda x: x.time())
fut2m_df_['hhmm'] = fut2m_df_['time'].apply(lambda x: x.hour * 100 + x.minute)

In [258]:
print(fut1m_df_.shape)
print(fut2m_df_.shape)

(10735, 14)
(10735, 14)

In [259]:
day_of_week_v = [x.weekday() for x in np.unique(fut1m_df_['dt'].values)]
day_of_week_v = np.array(day_of_week_v)

In [260]:
dates_v = np.unique(fut1m_df_['dt'].values)

In [261]:
dates_v

array([datetime.date(2017, 11, 6), datetime.date(2017, 11, 7),
       datetime.date(2017, 11, 8), ..., datetime.date(2022, 2, 23),
       datetime.date(2022, 2, 24), datetime.date(2022, 2, 25)],
      dtype=object)